@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

body {
  padding: 32px;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

.text--purple {
  color: #6415ff;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

.section__title {
  color: #243e63;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1.2px;
}

.section__subtitle {
  color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: 16px;
}

.section__description {
  color: #7c8ba1;
  font-size: 18px;
  font-weight: 500;
  line-height: 29.25px;
  margin-top: 16px;
}

.section__description--center {
  text-align: center;
  max-width: 576px;
}

.section__btn {
  color: #f7fafc;
  font-size: 14px;
  font-weight: 700;
  background-color: #6415ff;
  border-radius: 100px;
  padding: 12px 32px;
  margin-top: 32px;
  display: inline-block;
  transition-duration: 300ms;
}

.section__btn:hover {
  background-color: #4e11c9;
}

.columns {
  display: flex;
  align-items: center;
}

.column {
  width: 50%;
}

.column__text {
  padding: 32px 0;
}

.column__text .section__title {
  line-height: 1;
}

.column__text--left {
  margin-right: 64px;
}

.column__text--right {
  margin-left: 64px;
}

.column__img--wrapper {
  display: flex;
}

.column__img--border {
  border: #e5e7eb 1px solid;
}

.column__img {
  width: 100%;
}

.flex__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link__hover-efect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-efect--white:after {
  background-color: #fff;
}

.link__hover-efect--purple:after {
  background-color: #6415ff;
}

.link__hover-efect:hover:after {
  width: 100%;
  left: 0;
}

/* NAV */

.nav__container {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.025em;
}

.nav__logo--anchor {
  color: #243e63;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
}

.nav__logo--anchor:hover {
  color: #6415ff;
}

.nav__logo--img {
  width: 40px;
  margin-right: 12px;
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__link--anchor {
  font-size: 14px;
  font-weight: 600;
  margin: 0 24px;
  color: #243e63;
}

.nav__link--anchor:hover {
  color: #6415ff;
}

.nav__link--anchor-secundary {
  margin-left: 48px;
}

.nav__link--anchor-primary {
  margin: 0;
  padding: 12px 32px;
  background-color: #6415ff;
  border-radius: 40px;
  color: #fff;
  text-decoration: none;
}

.nav__link--anchor-primary:hover {
  color: #fff;
  background-color: #4e11c9;
}

/* HEADER */

.header__container {
  display: flex;
  align-items: center;
}

.header__description {
  width: 41%;
}

.header__description--title {
  color: #1a202c;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
}

.header__description--para {
  color: #243e64;
  font-size: 18px;
  margin: 32px 0;
}

.header__form {
  position: relative;
  display: flex;
  max-width: 448px;
}

.header__form--input {
  width: 100%;
  padding: 20px 192px 20px 32px;
  border-radius: 100px;
  border: 2px solid #e5e7eb;
  font-size: 16px;
  font-weight: 400;
  color: #243e63;
}

.header__form--btn {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #6415ff;
  padding: 16px 36px;
  border-radius: 50px;
  margin: 8px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

.header__logos {
  margin-top: 80px;
}

.header__logos--text {
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.header__logos--img {
  width: 100%;
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
}

.header__img--wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 59%;
}

.header__img {
  width: 100%;
  /* max-width: 512px; en pantallas pequenyias */
}

/* FEATURES */

.features__row {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 30%;
  padding: 32px 8px;
  margin: 0 16px;
}

.feature__img--wrapper {
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 100px;
  display: flex;
}

.feature__img {
  width: 24px;
  height: 24px;
}

.feature__description {
  margin: 8px 0 0 16px;
}

.feature__description--title {
  color: #243e63;
  font-size: 24px;
  line-height: 1;
}

.feature__description--para {
  color: #7c8ba1;
  font-size: 16px;
  line-height: 2;
  font-weight: 500;
  margin-top: 16px;
}

/* STEPS */

.steps__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 48px;
}

.step {
  display: flex;
  margin-top: 32px;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  line-height: 1;
  font-weight: 600;
}

.step__description {
  margin-left: 24px;
  max-width: 320px;
}

.step__description--title {
  color: #243e63;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}

.step__description--para {
  color: #718096;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  margin-top: 12px;
}

/* VALUES */

.values {
  display: flex;
}

.value {
  margin-top: 32px;
}

.value:first-child {
  margin-right: 32px;
}

.value__title {
  display: flex;
  align-items: center;
}

.value__img--wrapper {
  border-radius: 100px;
  padding: 8px;
  display: flex;
}

.value__img--green {
  background-color: #9ae6b4;
  color: #276749;
}

.value__img--red {
  background-color: #feb2b2;
  color: #9b2c2c;
}

.value__img {
  height: 20px;
  width: 20px;
}

.value__title--text {
  color: #243e63;
  font-size: 20px;
  font-weight: 700;
  margin-left: 12px;
}

.value__description {
  color: #718096;
  font-size: 16px;
  line-height: 1.625;
  margin-top: 16px;
}

#values .section__btn {
  margin-top: 48px;
}

/* PRICING */

.pricings {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pricing-box {
  width: 100%;
  max-width: 384px;
  padding: 8px 32px 0;
  margin: 64px 32px 0 0;
  border-radius: 8px;
  position: relative;
}

.pricing-box__styling-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 8px;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.pricing-box__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}

.pricing-box__header--name {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.625;
}

.pricing-box__header--price {
  color: #1a202c;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.625;
  margin: 4px 0;
}

.pricing-box__header--duration {
  color: #a0aec0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.625;
  letter-spacing: 1.6px;
}

.pricing-box__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  margin: 0 -32px;
  border: 0 solid #e5e7eb;
  border-top-width: 2px;
  border-bottom-width: 2px;
}

.pricing-box__features--main-feature {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.pricing-box__features--feature {
  color: #718096;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.pricing-box__btn--wrapper {
  padding: 32px 64px;
}

.pricing-box__btn {
  color: #f7fafc;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.8px;
  border: 0;
  border-radius: 100px;
  width: 100%;
  padding: 16px 32px;
}

/* green box */

.pricing-box--green .pricing-box__styling-bar {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.pricing-box--green .pricing-box__btn {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

/* blue box */

.pricing-box--blue {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.pricing-box--blue .pricing-box__header--name {
  color: #f7fafc;
}

.pricing-box--blue .pricing-box__header--price {
  color: #f7fafc;
}

.pricing-box--blue .pricing-box__header--duration {
  color: #edf2f7;
}

.pricing-box--blue .pricing-box__features {
  border-color: #667eea;
}

.pricing-box--blue .pricing-box__features--main-feature {
  color: #f7fafc;
}

.pricing-box--blue .pricing-box__features--feature {
  color: #e2e8f0;
}

.pricing-box--blue .pricing-box__btn {
  background-color: #f7fafc;
  color: #6415ff;
}

/* red box */

.pricing-box--red .pricing-box__styling-bar {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.pricing-box--red .pricing-box__btn {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

/* TESTIMONIALS */

.testimonial {
  margin-top: 40px;
}

.testimonial__rating {
  display: flex;
}

.testimonial__rating--star {
  color: #f6ad55;
  fill: currentColor;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.testimonial__title {
  color: #243e63;
  font-size: 20px;
  font-weight: 700;
  margin-top: 16px;
}

.testimonial__para {
  color: #4a5568;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  margin: 16px 0 40px;
}

.testimonial__info--container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial__info {
  display: flex;
  align-items: center;
}

.testimonial__img--wrapper {
  width: 80px;
  height: 80px;
  border-radius: 500px;
  overflow: hidden;
  display: flex;
}

.testimonial__info--text {
  margin-left: 24px;
}

.testimonial__info--name {
  color: #243e63;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.testimonial__info--job {
  color: #7c8ba1;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.testimonial__btn--wrapper {
  display: flex;
}

.testimonial__btn {
  background-color: #edf2f7;
  color: #6415ff;
  border: 0;
  border-radius: 100px;
  display: flex;
  padding: 16px;
  margin: 0 12px;
  cursor: pointer;
}

.testimonial__btn svg {
  width: 16px;
  height: 16px;
  stroke-width: 3;
}

.divider {
  margin: 12px 0;
  border: 1px solid #e5e7eb;
}

/* FAQS */

.question__list {
  margin-top: 48px;
  width: 100%;
  max-width: 896px;
}

.question {
  background-color: #edf2f7;
  padding: 16px 40px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question__text {
  color: #2d3748;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}

.question__toggle-icon--wrapper {
  color: #2d3748;
  margin-left: 8px;
  display: flex;
}

.question__toggle-icon {
  width: 24px;
  height: 24px;
}

/* GET STARTED */

.get-started {
  background-color: #6415ff;
  border-radius: 8px;
  padding: 96px 0;
}

.get-started__container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.get-started__text {
  color: #f7fafc;
  font-size: 30px;
  font-weight: 700;
  width: 50%;
}

.get-started__btn {
  color: #f7fafc;
  font-size: 16px;
  font-weight: 700;
  border-radius: 300px;
  padding: 20px 40px;
  cursor: pointer;
  transition: all 300ms ease;
}

.get-started__btn--red {
  background-color: #f56565;
  margin-right: 32px;
}

.get-started__btn--red:hover {
  background-color: #f03939;
}

.get-started__btn--white {
  border: 1px solid #a0aec0;
}

.get-started__btn--white:hover {
  background-color: #f7fafc;
  color: #6415ff;
}

/* FOOTER */

footer {
  background-color: #6415ff;
  margin: 0 -32px -32px -32px;
}

.links__columns {
  display: flex;
  justify-content: space-between;
}

.link__column {
  margin-top: 48px;
  width: auto;
}

